<div id="container">
  <h1>{{ title }}</h1>

  <input type="button" id="btn" value="+ New Employee" routerLink="/employees/add" />

  <table>
    <thead>
      <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Department</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.department}}</td>
        <td>
          [<a [routerLink]="'/employees/'+employee.id">
            Edit
          </a>]
        </td>
      </tr>
    </tbody>
  </table>
</div>
